*{
  margin: 0;
  padding: 0;
  overflow:hidden;
}

::-webkit-scrollbar {
    width: 0px !important;  /* remove scrollbar space */
    background: transparent !important;  /* optional: just make scrollbar invisible */
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

body{
  font-family: Helvetica Neue,Helvetica,sans-serif;
}

img{
  vertical-align: top;
}

.stream a{
  cursor:pointer;
}

#clatch{
  overflow-y: scroll;
  box-sizing: content-box;
  width: 220px;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  padding-top: 15px;
}



#clatch .stream.item{
  display: inline-block;
  width: 220px !important;
  margin-bottom: 10px !important;
}

.stream{
  position: relative;
}

.stream .content{
  height: 100%;
}

.thumb{
  position: relative;
  display:block;
  overflow:hidden;
  margin-bottom: 6px;
  height:0;
  padding-bottom: 56.25%;
}

.cap{
  display:block;
  position:relative;
  background: rgba(0,0,0,0.15);
}

.cap img{
  height:102%;
  width: 102%;
}

.boxart{
  border: 2px solid #fff;
  border-right: none;
  border-bottom: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.boxart img{
  width: 30px;
}

.meta{
  overflow: hidden;
  line-height: 1.8;
}

.meta p{
    white-space: nowrap;
}

.meta .title{
  font-size: 14px;
  color: #32323e;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.meta .info{
  font-size: 12px;
  color: #8c8c8c;
}

.meta p a{
  color: inherit;
}
