@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nxevgj');
  src:  url('fonts/icomoon.eot?nxevgj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nxevgj') format('truetype'),
    url('fonts/icomoon.woff?nxevgj') format('woff'),
    url('fonts/icomoon.svg?nxevgj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cust-dash:before {
  content: "\e911";
}
.icon-cust-mini:before {
  content: "\e900";
}
.icon-cust-max:before {
  content: "\e901";
}
.icon-cust-x:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e903";
}
.icon-pacman:before {
  content: "\e912";
}
.icon-spades:before {
  content: "\e913";
}
.icon-clubs:before {
  content: "\e914";
}
.icon-diamonds:before {
  content: "\e915";
}
.icon-file-empty:before {
  content: "\e904";
}
.icon-price-tags:before {
  content: "\e916";
}
.icon-location:before {
  content: "\e917";
}
.icon-compass2:before {
  content: "\e918";
}
.icon-clock:before {
  content: "\e919";
}
.icon-clock2:before {
  content: "\e91a";
}
.icon-bubbles:before {
  content: "\e91b";
}
.icon-bubbles2:before {
  content: "\e91c";
}
.icon-bubble2:before {
  content: "\e91d";
}
.icon-bubbles3:before {
  content: "\e91e";
}
.icon-bubbles4:before {
  content: "\e91f";
}
.icon-hour-glass:before {
  content: "\e920";
}
.icon-spinner9:before {
  content: "\e921";
}
.icon-spinner11:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e923";
}
.icon-stats-bars:before {
  content: "\e92b";
}
.icon-fire:before {
  content: "\e924";
}
.icon-power:before {
  content: "\e925";
}
.icon-cloud-download:before {
  content: "\e926";
}
.icon-sphere:before {
  content: "\e927";
}
.icon-earth:before {
  content: "\e928";
}
.icon-link:before {
  content: "\e905";
}
.icon-attachment:before {
  content: "\e906";
}
.icon-star-empty:before {
  content: "\e907";
}
.icon-star-full:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e929";
}
.icon-cross:before {
  content: "\e909";
}
.icon-arrow-right2:before {
  content: "\e92a";
}
.icon-arrow-left2:before {
  content: "\e92e";
}
.icon-google-plus:before {
  content: "\e90a";
}
.icon-google-plus3:before {
  content: "\e92c";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-youtube:before {
  content: "\e90e";
}
.icon-youtube2:before {
  content: "\e90f";
}
.icon-twitch:before {
  content: "\e910";
}
.icon-pinterest:before {
  content: "\e92d";
}

